.navbar {
  // width: 296px;
  width: 18%;
}

.nav-item span {
  padding-left: 35px;
}

.logo {
  margin-left: 35px;
}

// 因要使用fixed而使用的方法
.content {
  width: calc(100% - 360px);
  margin-left: auto;
}
